/* Centering the form on the page */
body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #f8f9fa;
}

/* Styling the form */
form {
  text-align: center;
  display: flex;
  flex-flow: column wrap; /* Stack the form elements vertically and wrap*/
  align-items: center; /* Center the elements horizontally */
}

/* Styling the search bar */
input[type="text"] {
  width: 300px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 25px;
  font-size: 16px;
  margin-bottom: 10px;
}

/* Styling the submit button */
input[type="submit"] {
  margin-top: 10px;
  padding: 10px 20px;
  font-size: 16px;
  color: white;
  background-color: #4285f4;
  border: none;
  border-radius: 25px;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #3367d6;
}
