/* Centering the form on the page */
body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #f8f9fa;
}

/* Styling the form */
form {
  text-align: center;
  display: flex;
  flex-flow: column wrap; /* Stack the form elements vertically and wrap*/
  align-items: center; /* Center the elements horizontally */
}

/* Styling the search bar */
input[type="text"] {
  width: 300px;
  padding: 3px;
  border: 1px solid #ddd;
  border-radius: 25px;
  font-size: 16px;
  margin-bottom: 10px;
}

/* Styling the submit button */
input[type="submit"] {
  margin-top: 1px;
  padding: 4px 7px;
  font-size: 8px;
  color: rgb(44, 44, 44);
  background-color: rgba(195, 195, 195, 0.177);
  border: none;
  border-radius: 2px;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: rgba(227, 226, 226, 0.177);
  border: 0.5px solid #c6d3e8;
}

/* Styling the navigation bar */
.nav {

  position: absolute;
  top: 10px;
  right: 10px;
}

.nav a {
  text-decoration: none;
  margin-left: 5px;
  color: #333;
  font-size: 7px;
}
.nav a:hover {
  text-decoration: underline;
}
